/vendor/
/node_modules/
/wiki

.phpunit.result.cache
.phpcs-cache
.php-cs-fixer.cache

.DS_Store
Thumbs.db

*.log
*.zip
*.bak
*.tmp
*.swp
*.cache

.env
.env.local
.wp-env.json
.je-calendar-build/

.idea/
*.sublime-project
*.sublime-workspace

.vscode/*
!.vscode/settings.json
